<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Pizza</title>

  <!-- External JS -->
  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>

</head>
<body>
  <nav>
    <img src="../images/best_in_town_pizza.png" alt="simply pizza logo">
    <button type="button" class="btn btn-danger">Order Now</button>
    <button type="button" class="btn btn-secondary">Contact Us</button>
    <button type="button" class="btn btn-secondary">register</button>
    <button type="button" class="btn btn-secondary">login</button>
  </nav>
  <header>
    <img src="../images/simply_normal.png" alt="background img">
  </header>
  <main>
    <div class="menu-sections">
  <button >Most Popular</button>
  <button>Today's Special</button>
  <button>Vegan</button>
  <button>Beverage</button>
  <button>Full Menu</button>
    </div>
    <article class="container" id="menu">
      <!-- where all items show -->
      <!-- <img class="pizza_image" src="https://www.verdictfoodservice.com/wp-content/uploads/sites/17/2021/05/beyond-meat-x-pizza-hut-hero.jpg" alt="pizza picture">
      <span>
        <h3 class="pizza_title">Beyond Meat Supreme Pizza</h3> 
        <p class="pizza_description">A hearty vegan option featuring Beyond Meat sausage, bell peppers, red onions, black olives, and vegan cheese</p>
        <div>vegan</div> 
      </span>
      <div>
        <h6>Price</h6>
      </div> -->
    </article> <br>
  </main>

</body>
</html>
