<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Pizza</title>

    <!-- External JS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/cart.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script async src="/scripts/app.js"></script>
  </head>
  <body>
    <nav>
      <div>
        <img
          src="../images/best_in_town_pizza.png"
          alt="simply pizza logo"
          id="logo"
        />
        <div id="cart-items" style="display: none;">
          <p>Items in Cart:</p>
          <ul id="cart-item-list"></ul>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-danger btn-lg view-order">View Order</button>
        <button type="button" class="btn btn-secondary btn-lg">
          Contact Us
        </button>
        <button type="button" class="btn btn-secondary btn-lg">register</button>
        <button type="button" class="btn btn-secondary btn-lg">login</button>
      </div>
    </nav>
    <header>
      <img src="../images/simply_normal.png" alt="background img" />
      <div class="menu-sections">
        <button class="btn btn-danger btn-lg view-order">View Order</button>
        <button class="btn btn-warning btn-lg">Most Popular</button>
        <button class="btn btn-warning btn-lg">Today's Special</button>
        <button class="btn btn-warning btn-lg">Vegan</button>
        <button class="btn btn-warning btn-lg">Beverage</button>
      </div>
    </header>
    <!-- test CART -->
    <main>
      <article id="cart-container">
        <p>Order Details</p>
        <form id="cart">
        </form>
        <button>checkout</button>
      </article>


      <article id="menu">
      </article>
    </main>
  </body>
</html>
