header {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center top;
  margin-top: -100px;
  width:100%;

  div {
    display: flex;
    margin-top: -140px;
    padding-bottom: 10px;
    padding-left: 7px;
    gap: 20px;
  }
}
