header {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center top;
  margin-top: -120px;
  width:100%;

  .menu-sections {
    margin-top: -180px;
    padding-bottom: 10px;
    padding-top:5px;
  }

}
