body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

  #menu {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.267);
    margin-top: 20px;
    background-color:burlywood;
    max-width: 90%;

  .pizza_image {
    max-width: 250px;
    height: auto;
    margin-right: 20px;
  }

  .pizaa_text {
    display: flex;
    flex-direction: column;
  }

  .pizza_title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .pizza_description {
    font-size: 1rem;
    color: #555151;
    margin-bottom: 10px;
  }


  h4 {
    font-size: 1rem;
    color: #444;
    margin-top: 10px;
  }

  #place_order {
   margin-top: 100px;
   margin-right: 30px;
   font-size: 1rem;
  }

}
}
