body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

  .container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.267);
    margin-top: 20px;
    background-color:burlywood;
    max-width: 90%;
    max-height: 200px;
    position: relative;

 .pizza_image {
    max-width: 150px;
    max-height: 180px;
    margin-right: 20px;
    object-fit: contain;
  }

  .pizaa_text {
    display: flex;
    flex-direction: column;
  }

  .pizza_title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .pizza_description {
    font-size: 1rem;
    color: #555151;
    margin-bottom: 10px;
  }


  h4 {
    font-size: 1rem;
    color: #444;
    margin-top: 10px;
  }

  .add_to_order {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
  }


}

#orders-container-employee {
  margin-top: 150px;

  .order {
    border: 2px solid #444;
    background: rgb(101 187 208);
    padding: 10px;
    margin-top: 10px;

    .orderID {
      background-color:inherit;
      border: none;
      margin-right: -120px;
    }

    .timeInput {
      margin-right: 3px;
      background-color: aliceblue;
    }
  }
}
     #refreshButton {
      margin-top: 10px;
     }

}
