nav {
  display: flex;
  background-color: burlywood;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  position: relative;
  z-index: 1;

  #logo {
    max-width: 110px;
    height: auto;
  }

  .logged-out{
    display: none;
  }
}


